@import url('https://fonts.googleapis.com/css2?family=Besley:ital@1&display=swap');

body{
    background-color: #b5bac9;
    font-family: 'Besley', serif;

}

.encabezado{
    background-color: #666f88;
    height: 80px;
    border-bottom: 0px  #8990a2 solid ;
    box-shadow: 0 5px 6px#666f88;
    position: sticky;
    top: 0;
}



.menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.titulol{
    display: inline;
    text-decoration: none;
    color :#000000;
    font-size: 30px;
    text-shadow: 4px 3px 3px #a3a8b7;
    margin-left:20px;
    margin-top: 10px;
}

.link_nav{
    list-style: none;
    color :#000000;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Besley', serif;

}

.lista_menu{
    float: right;
    margin-top: 20px;
    margin-left: 460px;
}

.objeto{
    display: inline;
    margin-left: 20px;
}

.objeto:hover {
    color: #a7bfc7;
}

footer{
    background-color: #666f88;
    height: 80px;
    border-top: 0px  black solid ;
    box-shadow: 0 -5px 6px#666f88;
    text-align: center;
}

.icnos{
    display: inline;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
}

.artista1{
    justify-content: space-between;
    margin: 20px;
    width: 200px;
    height: 200px;
    background-image:url(/img/art1.jpg);
    background-size: cover;
    border: 1px solid #000000;
    box-shadow: 0 0 10px black;
}

.artista2{
    justify-content: space-between;
    margin: 20px;
    width: 200px;
    height: 200px;
    background-image:url(/img/art2.jpg);
    background-size: cover;
    border: 1px solid #000000;
    box-shadow: 0 0 10px black;
}

.artista3{
    justify-content: space-between;
    margin: 20px;
    width: 200px;
    height: 200px;
    background-image:url(/img/art3.jpg);
    background-size: cover;
    border: 1px solid #000000;
    box-shadow: 0 0 10px black;
}

.artista4{
    justify-content: space-between;
    margin: 20px;
    width: 200px;
    height: 200px;
    background-image:url(/img/art4.jpg);
    background-size: cover;
    border: 1px solid #000000;
    box-shadow: 0 0 10px black;
}

.artista5{
    justify-content: space-between;
    margin: 20px;
    width: 200px;
    height: 200px;
    background-image:url(/img/art5.jpg);
    background-size: cover;
    border: 1px solid #000000;
    box-shadow: 0 0 10px black;
}

.artista6{
    justify-content: space-between;
    margin: 20px;
    width: 200px;
    height: 200px;
    background-image:url(/img/art6.jpg);
    background-size: cover;
    border: 1px solid #000000;
    box-shadow: 0 0 10px black;
}

.artista7{
    justify-content: space-between;
    margin: 20px;
    width: 200px;
    height: 200px;
    background-image:url(/img/art7.jpg);
    background-size: cover;
    border: 1px solid #000000;
    box-shadow: 0 0 10px black;
}

.artista8{
    justify-content: space-between;
    margin: 20px;
    width: 200px;
    height: 200px;
    background-image:url(/img/art8.jpg);
    background-size: cover;
    border: 1px solid #000000;
    box-shadow: 0 0 10px black;
}

.artista9{
    justify-content: space-between;
    margin: 20px;
    width: 200px;
    height: 200px;
    background-image:url(/img/art9.jpg);
    background-size: cover;
    border: 1px solid #000000;
    box-shadow: 0 0 10px black;
}

.artista10{
    justify-content: space-between;
    margin: 20px;
    width: 200px;
    height: 200px;
    background-image:url(/img/art10.jpg);
    background-size: cover;
    border: 1px solid #000000;
    box-shadow: 0 0 10px black;
}

.sub{
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

.parrafo{
    margin-left: 10%;
    text-align: center;
    width: 80%;
}

img{
    width: 60%;
    margin-left: 20%;
}
