@import url('https://fonts.googleapis.com/css2?family=Besley:ital@1&display=swap');

body{
    background-color: #b5bac9;
    font-family: 'Besley', serif;

}

.encabezado{
    background-color: #666f88;
    height: 80px;
    border-bottom: 0px  #8990a2 solid ;
    box-shadow: 0 5px 6px#666f88;
    position: sticky;
    top: 0;
}



.menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.titulol{
    display: inline;
    text-decoration: none;
    color :#000000;
    font-size: 30px;
    font-family: 'Besley', serif;
    text-shadow: 4px 3px 3px #a3a8b7;
    margin-left:20px;
    margin-top: 10px;
}

.link_nav{
    list-style: none;
    color :#000000;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Besley', serif;

}

.lista_menu{
    float: right;
    margin-top: 20px;
    margin-left: 460px;
}

.objeto{
    display: inline;
    margin-left: 20px;
}

.objeto:hover {
    color: #a7bfc7;
}

ol{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.primer{
    grid-column-start: 7;
}

.primer2{
    grid-column-start: 3;
}

.sub{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;

}

.mes{
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.evento{
    text-align: center;
    background-color: #8990a2;
    border: 1px solid #8990a2;
    border-radius: 100%;

}

.mesc{
    padding: 0;
    text-align: center;
    border:1px solid #b5bac9;
    box-shadow: 0 0 6px black; 
}

li{
    width: 30px;
}

.cc{
    text-decoration: none;
    width: 30px;
    color: #000000;
}

.cc:hover {
    color: #a7bfc7;
}

footer{
    margin-bottom: 0;
    background-color: #666f88;
    border-top: 0px  black solid ;
    box-shadow: 0 -5px 6px#666f88;
    text-align: center;
}

.icnos{
    display: inline;
}

.eventosa{
    margin-top: 10px;
    box-shadow: 0 0 6px#666f88;
    margin-bottom: 15px;
}

.eventosb{
    margin-top: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 6px#666f88;
}

.boton{
    text-decoration: none;
    color: #000000;
    background-color: #666f88;
    box-shadow: 0 0 6px#666f88;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 7px;
}

.boton:hover{
    background-color: aliceblue;
}

@media (max-width:480px)  {
    .encabezado{
        background-color: #666f88;
        height: 80px;
        border-bottom: 0px  #8990a2 solid ;
        box-shadow: -1px 10px 9px #666f88;
    }


    .lista_menu{
        width: 100%;
        display: block;
        margin-left: 1px;
        margin-top: 5px;

    }
    .titulol{
        width: 100%;
        text-align: center;
        display: block;
        text-decoration: none;
        color :#000000;
        font-size: 15px;
        font-family: 'Besley', serif;
        text-shadow: 4px 3px 3px #a3a8b7;
    }

    .objeto{
        font-size: 10px;
        display: inline;
        margin-left: 5px;
        margin-right: 5px;
    }

    .objeto:hover {
        color: #a7bfc7;
    }



}